.about_informations {
  padding: 5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.about_images {
  min-width: 300px;
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.about_images > img {
  position: relative;
  width: 300px;
  height: 350px;
  top: -30px;
  right: -70px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.about_images > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin: 0 20px;
  margin-bottom: 20px;
}

.about_images > div a {
  font-size: 1.2em;
  color: var(--white-color);
  transition: color 0.5s ease;
}

.about_images > div a:hover {
  color: var(--primary-color);
}

.about_texts > p {
  max-width: 750px;
  color: var(--white-color);
  line-height: 1.9em;
}

.about_texts > p:first-child {
  margin-bottom: 20px;
  font-size: 1.6em;
  font-weight: 550;
}

.about_texts > p:last-child {
  opacity: 0.8;
  font-size: 0.9em;
  line-height: 2em;
}

/* Media Queries @1275px */
@media (max-width: 1275px) {
  .about_images {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  .about_images > img {
    top: 10px;
    right: 0;
    width: 250px;
    height: 250px;
  }

  .about_texts > p:first-child {
    font-size: 1.2em;
  }
}

/* Media Queries @891px */
@media (max-width: 891px) {
  .about_informations {
    flex-direction: column;
  }

  .about_images {
    width: 100%;
  }

  .about_images > img {
    width: 80%;
    height: 80%;
  }

  .about_texts > p {
    text-align: center;
  }
}
